/*Colores*/
/*Tipos de letra*/
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lilita+One&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lilita+One&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lilita+One&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lilita+One&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chango&family=Lilita+One&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap");
@-webkit-keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@-webkit-keyframes btn_fullscreen {
  0% {
    transform: rotate(none) scale(1);
  }
  50% {
    transform: rotate(50deg) scale(1.1);
    border: 1.4rem outset #660066;
    background-color: #ffffff;
  }
  100% {
    transform: rotate(none) scale(1);
  }
}
@keyframes btn_fullscreen {
  0% {
    transform: rotate(none) scale(1);
  }
  50% {
    transform: rotate(50deg) scale(1.1);
    border: 1.4rem outset #660066;
    background-color: #ffffff;
  }
  100% {
    transform: rotate(none) scale(1);
  }
}
@-webkit-keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 3vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 3vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@-webkit-keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes iz {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes iz {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0);
  }
}
/*Colores*/
/*Tipos de letra*/
#loader {
  background-image: linear-gradient(to top, #c6aeff 0%, #fbc2eb 100%);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  z-index: 100000;
}
#loader .loader__element {
  border-radius: 100%;
  border: 5px solid #300047;
  margin: 10px;
}
#loader .loader__element:nth-child(1) {
  -webkit-animation: preloader 0.6s ease-in-out alternate infinite;
          animation: preloader 0.6s ease-in-out alternate infinite;
}
#loader .loader__element:nth-child(2) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
          animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
#loader .loader__element:nth-child(3) {
  -webkit-animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
          animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}

/*Colores*/
/*Tipos de letra*/
/*Colores*/
/*Tipos de letra*/
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}
@keyframes btn_fullscreen {
  0% {
    transform: rotate(none) scale(1);
  }
  50% {
    transform: rotate(50deg) scale(1.1);
    border: 1.4rem outset #660066;
    background-color: #ffffff;
  }
  100% {
    transform: rotate(none) scale(1);
  }
}
@keyframes logo {
  0% {
    transform: translate(0, -100vh);
  }
  50% {
    transform: translate(0, 3vh);
  }
  100% {
    transform: translate(0, 0vh);
  }
}
@keyframes logo_palpitar {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes iz {
  0% {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(2vw);
  }
  100% {
    transform: translateX(0);
  }
}
/*Colores*/
/*Tipos de letra*/
html {
  --color-white: #ffffff;
  --color-black: #191919;
  --color-bg: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  --color-a: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
  box-sizing: border-box;
}

.c-cursor {
  --size: 15px;
  position: fixed;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
  pointer-events: none;
  transition: none;
  z-index: 15000;
  will-change: transform;
}
.is-debug .c-cursor {
  transition: all 0.2s ease-in-out;
}
.c-cursor__inner {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: var(--color-bg);
  border: 1px solid var(--color-white);
  transition: all 0.15s ease-in-out;
  opacity: 1;
  transform: scale(1) translateZ(0);
}
.c-cursor.is-clicked .c-cursor__inner {
  opacity: 0.5;
}
.c-cursor.is-hidden .c-cursor__inner {
  opacity: 0;
}
.c-cursor.is-link-hovered .c-cursor__inner {
  transform: scale(0.75) translateZ(0);
  background-image: var(--color-a);
}

.has-custom-cursor,
.has-custom-cursor * {
  cursor: none !important;
}

body header {
  width: 20vw;
  height: 100vh;
  background-color: #300047;
  font-family: "Rubik Spray Paint", cursive;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  opacity: 0;
  z-index: -100;
}
body header #switch {
  background-color: rgba(255, 255, 255, 0);
  width: 5rem;
  height: 5rem;
  margin-top: -200%;
  margin-left: -80%;
  font-size: 200%;
  border: 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
body header #switch.active {
  color: #0d0d0d;
}
body header .active1 {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body header .active1 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
}
body header .active1 a img {
  width: 100%;
  -webkit-animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
          animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
body header .active1 ul {
  margin: 0;
  margin-top: 5%;
  padding: 0;
  height: 65%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body header .active1 ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  list-style: none;
}
body header .active1 ul li a {
  font-size: 115%;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.2s;
}
body header .active1 ul li:hover a {
  font-size: 120%;
}
body header .active2 {
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
}
body header .active2 .navbar-brand {
  margin-top: 0;
  margin-left: 0;
  width: 0;
  z-index: -100;
}
body header .active2 .navbar-brand img {
  width: 0;
}
body header.fullscreen {
  opacity: 100%;
  z-index: 100;
}
body header.dark {
  background-color: #190024;
}
body header.dark #switch {
  color: #dbdbdb;
}
body header.dark #switch.active {
  color: #dbdbdb;
}
body header.dark .active1 li a {
  color: #dbdbdb;
}

@media screen and (max-width: 850px) {
  body header {
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 10vh;
    margin: 0;
    padding: 0;
    position: fixed;
    transition: all 0.5s;
    opacity: 100%;
    z-index: 100;
  }
  body header #switch {
    margin-top: 0%;
    margin-left: 0%;
    z-index: 101;
    font-size: 300%;
  }
  body header .active1 {
    width: 0;
  }
  body header .active1 a {
    width: 0;
  }
  body header .active1 a img {
    width: 0;
  }
  body header .active1 ul {
    margin: 0;
    padding: 0;
    width: 0;
    display: flex;
  }
  body header .active1 ul li {
    margin: 0;
    padding: 0;
  }
  body header .active1 ul li a {
    font-size: 0;
  }
  body header .active2 {
    opacity: 100%;
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  body header .active2 .navbar-brand {
    margin-top: 0%;
    margin-left: 0%;
    width: 10%;
    z-index: 10;
  }
  body header .active2 .navbar-brand img {
    width: 100%;
  }
  body header .active2 .navbar-toggler {
    margin-top: -2%;
    background-color: #f5e3fd;
  }
  body header .active2 .collapse {
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
  }
  body header .active2 .collapse.abajo {
    border-radius: 0px 0px 2rem 2rem;
    padding: 10%;
    text-align: center;
    background-color: #300047;
    transition: all 0.5s;
  }
  body header.abajo {
    background-color: #300047;
  }
  body.dark header {
    background-color: rgba(255, 255, 255, 0);
  }
  body.dark header .active2 .navbar-toggler {
    background-color: #dfcce7;
  }
  body.dark header .active2 .collapse.abajo {
    background-color: #190024;
  }
  body.dark header.abajo {
    background-color: #190024;
  }
}
@media screen and (max-width: 500px) {
  body header {
    background-color: rgba(0, 0, 0, 0);
    width: 100vw;
    height: 8vh;
    margin: 0;
    padding: 0;
    position: fixed;
    transition: all 0.5s;
    opacity: 100%;
    z-index: 100;
  }
  body header #switch {
    font-size: 220%;
    margin-top: 0%;
    margin-left: 0%;
    z-index: 101;
  }
  body header .active1 {
    width: 0;
  }
  body header .active1 a {
    width: 0;
  }
  body header .active1 a img {
    width: 0;
  }
  body header .active1 ul {
    margin: 0;
    padding: 0;
    width: 0;
    display: flex;
  }
  body header .active1 ul li {
    margin: 0;
    padding: 0;
  }
  body header .active1 ul li a {
    font-size: 0;
  }
  body header .active2 {
    opacity: 100%;
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  body header .active2 .navbar-brand {
    margin-top: -1%;
    margin-left: -1%;
    width: 15%;
    z-index: 10;
  }
  body header .active2 .navbar-brand img {
    width: 100%;
  }
  body header .active2 .navbar-toggler {
    margin-top: -2%;
    background-color: #f5e3fd;
  }
  body header .active2 .collapse {
    margin: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.5s;
  }
  body header .active2 .collapse.abajo {
    border-radius: 0px 0px 2rem 2rem;
    padding: 10%;
    text-align: center;
    background-color: #300047;
    transition: all 0.5s;
  }
  body header.abajo {
    background-color: #300047;
  }
  body.dark header {
    background-color: rgba(255, 255, 255, 0);
  }
  body.dark header .active2 .navbar-toggler {
    background-color: #dfcce7;
  }
  body.dark header .active2 .collapse.abajo {
    background-color: #190024;
  }
  body.dark header.abajo {
    background-color: #190024;
  }
}
html {
  scroll-behavior: smooth;
}
html body {
  overflow: hidden;
  background-image: linear-gradient(to top, #c6aeff 0%, #fbc2eb 100%);
}
html body .alert {
  background-image: linear-gradient(to top, #c6aeff 0%, #fbc2eb 100%);
  border-color: #ffffff;
  color: #ffffff;
  position: fixed;
  z-index: 20000;
}
html body .navbar {
  height: 100%;
}
html body .btn-group {
  margin-top: 2%;
  margin-left: 95%;
  position: fixed;
  z-index: 1000;
}
html body .btn-group .dropdown-menu {
  background-color: #300047;
}
html body .btn-group .btn {
  width: 100%;
  margin-top: 5%;
  border-radius: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}
html body .btn-group .btn-user {
  background-color: #300047;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
html body .btn-group .btn-user img {
  width: 100%;
}
html body #modal {
  width: 30rem;
  height: 40rem;
  margin-left: 50%;
  padding: 0;
  border: 0;
  border-radius: 1rem;
  color: #ffffff;
  overflow: hidden;
  cursor: pointer;
}
html body #modal #modal_cont {
  display: flex;
  width: 100%;
  height: 100%;
}
html body #modal #modal_cont .progreso {
  width: 85%;
  height: 10px;
  background-color: #ffffff;
  border-radius: 1rem;
  margin: auto;
  padding: 0;
  overflow: hidden;
}
html body #modal #modal_cont .progreso .progreso_cont {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #c6aeff 0%, #fbc2eb 100%);
  list-style: none;
  text-align: center;
}
html body #modal #modal_cont .progreso .progreso_cont b {
  font-size: 70%;
}
html body #modal #modal_cont a {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: 90%;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #300047;
  padding: 1rem;
  margin-top: 34rem;
  margin-left: 2.5rem;
}
html body #modal #modal_cont a .icon {
  font-size: 110%;
  margin-right: 4%;
}
html body #modal #modal_cont button {
  width: 2rem;
  height: 2rem;
  color: #0d0d0d;
  margin-top: 6px;
  margin-left: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  font-size: 150%;
  border-radius: 100%;
  background-color: #ffffff;
  border: 0;
  z-index: 100;
}
html body #modal #modal_cont #cont_name {
  width: 80%;
  height: 30%;
  margin: 5% 0 0 10%;
  position: absolute;
  background-color: #300047;
  padding: 2%;
  border: 5px solid #ffffff;
  border-radius: 1rem;
}
html body #modal #modal_cont #cont_name h1 {
  font-size: 100%;
}
html body #modal #modal_cont #cont_name div {
  width: 100%;
  height: 70%;
}
html body #modal #modal_cont #cont_name div ul {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
html body #modal #modal_cont #cont_name div ul li {
  width: 100%;
  height: 12.5%;
  list-style: none;
  font-size: 70%;
}
html body #modal #modal_cont #cont_cip {
  width: 30%;
  height: 40rem;
  background-color: #660066;
  float: left;
}
html body #modal #modal_cont #cont_cip div {
  margin-top: 18rem;
}
html body #modal #modal_cont #cont_cip div h2 {
  text-align: center;
  font-size: 75%;
}
html body #modal #modal_cont #cont_cip div h3 {
  text-align: center;
  opacity: 60%;
  font-size: 65%;
}
html body #modal #modal_cont #cont_cip div ul li {
  font-size: 70%;
  list-style: square;
}
html body #modal #modal_cont #cont_pfec {
  width: 70%;
  height: 40rem;
  text-align: center;
  background-image: linear-gradient(to top, #c6aeff 0%, #fbc2eb 100%);
  float: right;
}
html body #modal #modal_cont #cont_pfec div {
  padding: 0 5%;
  margin-top: 17rem;
}
html body #modal #modal_cont #cont_pfec div h2 {
  border-radius: 1rem;
  background-color: #300047;
  font-size: 90%;
}
html body #modal #modal_cont #cont_pfec div h3 {
  font-size: 75%;
}
html body #modal #modal_cont #cont_pfec div h4 {
  opacity: 70%;
  font-size: 65%;
}
html body #modal::-webkit-backdrop {
  background-color: rgba(0, 0, 0, 0.805);
}
html body #modal::backdrop {
  background-color: rgba(0, 0, 0, 0.805);
}
html body #cont #particles-js {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 0;
}
html body #cont section {
  width: 80vw;
  height: 100vh;
  float: right;
}
html body #cont #in {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  z-index: 200;
}
html body #cont #in .woman {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-image: url("../img/woman/img6.webp");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: 100% 50%;
}
html body #cont #in h1 {
  font-family: "Nosifer", cursive;
  color: #f5e3fd;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
  position: absolute;
}
html body #cont #in h1:hover {
  background-image: linear-gradient(120deg, rgba(245, 227, 253, 0.262745098) 0%, rgba(245, 227, 253, 0.5019607843) 45%, rgba(245, 227, 253, 0.5019607843) 55%, rgba(245, 227, 253, 0.262745098) 100%);
  box-shadow: 0px 0px 175px 25px #f5e3fd;
}
html body #cont #in #btn1 {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 0 0 90%;
  border: 0;
  border-radius: 1rem;
  background-color: #300047;
  color: #ffffff;
  font-size: 150%;
  transition: all 0.3s;
  -webkit-animation: btn_fullscreen 2s infinite;
          animation: btn_fullscreen 2s infinite;
  z-index: 2;
}
html body #cont #in.fullscreen {
  width: 80vw;
}
html body #cont #in.fullscreen .woman {
  background-size: 20%;
  background-position: 90% 50%;
}
html body #cont #in.fullscreen #btn1 {
  margin-left: 70%;
  -webkit-animation: none;
          animation: none;
  transform: rotate(180deg);
}
html body #cont #pro {
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #cont #pro #btn2 {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 0 0 -100%;
  border: 0;
  border-radius: 1rem;
  background-color: #300047;
  color: #ffffff;
  font-size: 150%;
  transition: all 0.3s;
  -webkit-animation: btn_fullscreen 2s infinite;
          animation: btn_fullscreen 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  z-index: 5;
}
html body #cont #pro #btn2:hover {
  background-color: #660066;
}
html body #cont #pro #btn2:active {
  transition: all 0s;
  background-color: #ffffff;
}
html body #cont #pro #pro_cont {
  width: 95%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body #cont #pro #pro_cont h1 {
  font-size: 180%;
  font-family: "Nosifer", cursive;
  color: #f5e3fd;
  transition: all 0.5s;
  z-index: 2;
  margin: 1%;
}
html body #cont #pro #pro_cont h1:hover {
  background-image: linear-gradient(120deg, rgba(245, 227, 253, 0.262745098) 0%, rgba(245, 227, 253, 0.5019607843) 45%, rgba(245, 227, 253, 0.5019607843) 55%, rgba(245, 227, 253, 0.262745098) 100%);
  box-shadow: 0px 0px 175px 25px #f5e3fd;
}
html body #cont #pro #pro_cont #pro_cont_cont {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
html body #cont #pro #pro_cont #pro_cont_cont div {
  width: 95%;
  height: 95%;
  border-radius: 15%;
  padding: 5%;
  border: 2.5px solid #ffffff;
  background-color: #300047;
  overflow: hidden;
  z-index: 2;
}
html body #cont #pro #pro_cont #pro_cont_cont div img {
  width: 100%;
  border-radius: 10%;
}
html body #cont #pro #pro_cont #pro_cont_cont div b {
  font-family: "Rubik Wet Paint", cursive;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  color: #ffffff;
  font-size: 130%;
}
html body #cont #pro #pro_cont #pro_cont_cont div a {
  font-family: "Lilita One", cursive;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 90%;
}
html body #cont #pro #pro_cont #pro_cont_cont div footer {
  font-family: "Lilita One", cursive;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 90%;
}
html body #cont #len {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body #cont #len #btn3 {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 10% 0 0 -100%;
  border: 0;
  border-radius: 1rem;
  background-color: #300047;
  color: #ffffff;
  font-size: 150%;
  transition: all 0.3s;
  -webkit-animation: btn_fullscreen 2s infinite;
          animation: btn_fullscreen 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  z-index: 2;
}
html body #cont #len #btn3:hover {
  background-color: #660066;
}
html body #cont #len #btn3:active {
  transition: all 0s;
  background-color: #ffffff;
}
html body #cont #len h1 {
  font-size: 180%;
  font-family: "Nosifer", cursive;
  color: #f5e3fd;
  display: flex;
  grid-column: 1/4;
  transition: all 0.5s;
  z-index: 2;
  margin: 3%;
}
html body #cont #len h1:hover {
  background-image: linear-gradient(120deg, rgba(245, 227, 253, 0.262745098) 0%, rgba(245, 227, 253, 0.5019607843) 45%, rgba(245, 227, 253, 0.5019607843) 55%, rgba(245, 227, 253, 0.262745098) 100%);
  box-shadow: 0px 0px 175px 25px #f5e3fd;
}
html body #cont #len #len_cont {
  width: 97%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
html body #cont #len #len_cont div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  background-color: #300047;
  padding: 10%;
  z-index: 2;
}
html body #cont #len #len_cont div img {
  width: 100%;
  transition: all 0.5s;
}
html body #cont #len #len_cont div img:hover {
  transform: rotate(-8deg) scale(1.1);
}
html body #cont #len #len_cont div b {
  font-family: "Rubik Wet Paint", cursive;
  font-size: 100%;
  color: #ffffff;
}
html body #cont #len #len_cont div .tooltip-box {
  background-color: #300047;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 1%;
  border-radius: 10%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
}
html body #cont #len #len_cont div:hover .tooltip-box {
  margin-top: -23%;
  opacity: 100%;
}
html body #cont #tec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html body #cont #tec .woman {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-image: url("../img/woman/img1.webp");
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 90% 20%;
}
html body #cont #tec #btn4 {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 5% 0 0 -100%;
  border: 0;
  border-radius: 1rem;
  background-color: #300047;
  color: #ffffff;
  font-size: 150%;
  transition: all 0.3s;
  -webkit-animation: btn_fullscreen 2s infinite;
          animation: btn_fullscreen 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  z-index: 2;
}
html body #cont #tec #btn4:hover {
  background-color: #660066;
}
html body #cont #tec #btn4:active {
  transition: all 0s;
  background-color: #ffffff;
}
html body #cont #tec h1 {
  font-size: 180%;
  font-family: "Nosifer", cursive;
  color: #f5e3fd;
  display: flex;
  margin: 1%;
  grid-column: 1/4;
  transition: all 0.5s;
  z-index: 2;
}
html body #cont #tec h1:hover {
  background-image: linear-gradient(120deg, rgba(245, 227, 253, 0.262745098) 0%, rgba(245, 227, 253, 0.5019607843) 45%, rgba(245, 227, 253, 0.5019607843) 55%, rgba(245, 227, 253, 0.262745098) 100%);
  box-shadow: 0px 0px 175px 25px #f5e3fd;
}
html body #cont #tec #tec_cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
  text-align: center;
}
html body #cont #tec #tec_cont .cont {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body #cont #tec #tec_cont .cont #cont_cont1 {
  width: 65%;
  grid-template-columns: repeat(4, 1fr);
}
html body #cont #tec #tec_cont .cont #cont_cont2 {
  grid-template-columns: repeat(6, 1fr);
}
html body #cont #tec #tec_cont .cont .cont_cont {
  display: grid;
}
html body #cont #tec #tec_cont .cont .cont_cont div {
  width: 100%;
  height: 100%;
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #300047;
  border: 3px solid #ffffff;
  border-bottom: 10px solid #ffffff;
  z-index: 2;
}
html body #cont #tec #tec_cont .cont .cont_cont div span {
  background-color: #300047;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 1%;
  border-radius: 10%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
}
html body #cont #tec #tec_cont .cont .cont_cont div img {
  width: 100%;
  transition: all 0.5s;
}
html body #cont #tec #tec_cont .cont .cont_cont div img:hover {
  transform: rotate(-8deg) scale(1.1);
}
html body #cont #tec #tec_cont .cont .cont_cont div b {
  color: #ffffff;
}
html body #cont #tec #tec_cont .cont .cont_cont div:hover span {
  margin-top: -20%;
  opacity: 100%;
}
html body #cont #res {
  display: flex;
  align-items: center;
}
html body #cont #res .woman {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-image: url("../img/woman/img4.webp");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: -10% 65%;
}
html body #cont #res #btn5 {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 0 0 -20%;
  border: 0;
  border-radius: 1rem;
  background-color: #300047;
  color: #ffffff;
  font-size: 150%;
  transition: all 0.3s;
  -webkit-animation: btn_fullscreen 2s infinite;
          animation: btn_fullscreen 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  z-index: 2;
}
html body #cont #res #btn5:hover {
  background-color: #660066;
}
html body #cont #res #btn5:active {
  transition: all 0s;
  background-color: #ffffff;
}
html body #cont #res #res_cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
html body #cont #res #res_cont h1 {
  font-size: 250%;
  font-family: "Nosifer", cursive;
  color: #f5e3fd;
  display: flex;
  transition: all 0.5s;
  z-index: 2;
}
html body #cont #res #res_cont h1:hover {
  background-image: linear-gradient(120deg, rgba(245, 227, 253, 0.262745098) 0%, rgba(245, 227, 253, 0.5019607843) 45%, rgba(245, 227, 253, 0.5019607843) 55%, rgba(245, 227, 253, 0.262745098) 100%);
  box-shadow: 0px 0px 175px 25px #f5e3fd;
}
html body #cont #res #res_cont #res_cont_cont {
  width: 15rem;
  height: 29.3rem;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/icons/iphone.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  z-index: 2;
}
html body #cont #res #res_cont #res_cont_cont #img1 {
  width: 84%;
  height: 86.5%;
  border-radius: 0.5rem;
  overflow-y: scroll;
}
html body #cont #res #res_cont #res_cont_cont #img1 img {
  width: 100%;
}
html body #cont #res #res_cont #res_cont_cont #img2 {
  width: 0%;
  height: 0%;
  margin-left: 0%;
  border-radius: 0.5rem;
  overflow-y: scroll;
}
html body #cont #res #res_cont #res_cont_cont #img2 img {
  width: 100%;
}
html body #cont #con {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
html body #cont #con .woman {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  background-image: url("../img/woman/img3.webp");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 90% 100%;
}
html body #cont #con #btn6 {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 5% 0 0 -100%;
  border: 0;
  border-radius: 1rem;
  background-color: #300047;
  color: #ffffff;
  font-size: 150%;
  transition: all 0.3s;
  -webkit-animation: btn_fullscreen 2s infinite;
          animation: btn_fullscreen 2s infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  z-index: 2;
}
html body #cont #con #btn6:hover {
  background-color: #660066;
}
html body #cont #con #btn6:active {
  transition: all 0s;
  background-color: #ffffff;
}
html body #cont #con h1 {
  font-size: 180%;
  font-family: "Nosifer", cursive;
  color: #f5e3fd;
  display: flex;
  transition: all 0.5s;
  margin-bottom: -2%;
  z-index: 2;
}
html body #cont #con h1:hover {
  background-image: linear-gradient(120deg, rgba(245, 227, 253, 0.262745098) 0%, rgba(245, 227, 253, 0.5019607843) 45%, rgba(245, 227, 253, 0.5019607843) 55%, rgba(245, 227, 253, 0.262745098) 100%);
  box-shadow: 0px 0px 175px 25px #f5e3fd;
}
html body #cont #con #con_cont {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
html body #cont #con #con_cont ul {
  width: 35rem;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
html body #cont #con #con_cont ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  z-index: 2;
}
html body #cont #con #con_cont ul li .tooltip-box {
  background-color: #300047;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 1%;
  border-radius: 10%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s;
}
html body #cont #con #con_cont ul li .button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 6rem;
  padding: 0;
  text-decoration: none;
  border: 0;
  background: none;
}
html body #cont #con #con_cont ul li .button .button-bg {
  border-radius: 20%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html body #cont #con #con_cont ul li .button .button-bg-path {
  fill: none;
  transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  stroke: #fff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
html body #cont #con #con_cont ul li .button:hover .button-bg-path {
  transition: all 400ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  stroke-dashoffset: 0;
}
html body #cont #con #con_cont ul li .button:hover .button-label {
  color: #fff;
}
html body #cont #con #con_cont ul li .button .button-label {
  border-radius: 20%;
  background-color: #300047;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1.5rem 15px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #aaa;
  border: 2px solid #4c066c;
  transition: all 600ms;
}
html body #cont #con #con_cont ul li .button .button-label .icon {
  margin-top: -1%;
  margin-right: 3%;
  font-size: 250%;
}
html body #cont #con #con_cont ul li:hover .tooltip-box {
  margin-top: -13%;
  opacity: 100%;
}
html body.dark {
  background-image: linear-gradient(to top, #4d3c74 0%, #744e69 100%);
}
html body.dark .alert {
  background-image: linear-gradient(to top, #4d3c74 0%, #744e69 100%);
  border-color: #dbdbdb;
  color: #dbdbdb;
}
html body.dark .btn-group .dropdown-menu {
  background-color: #190024;
}
html body.dark .btn-group .btn-user {
  background-color: #190024;
}
html body.dark #cont #in h1 {
  color: #dfcce7;
}
html body.dark #cont #in #btn1 {
  background-color: #190024;
  color: #dbdbdb;
}
html body.dark #cont #pro #btn2 {
  background-color: #190024;
  color: #dbdbdb;
}
html body.dark #cont #pro #btn2:hover {
  background-color: #370037;
}
html body.dark #cont #pro #btn2:active {
  background-color: #dbdbdb;
}
html body.dark #cont #pro #pro_cont h1 {
  color: #dfcce7;
}
html body.dark #cont #pro #pro_cont #pro_cont_cont div {
  border: 2.5px solid #dbdbdb;
  background-color: #190024;
}
html body.dark #cont #pro #pro_cont #pro_cont_cont div b {
  color: #dbdbdb;
}
html body.dark #cont #pro #pro_cont #pro_cont_cont div a {
  color: #dbdbdb;
}
html body.dark #cont #pro #pro_cont #pro_cont_cont div footer {
  color: #dbdbdb;
}
html body.dark #cont #len #btn3 {
  background-color: #190024;
  color: #dbdbdb;
}
html body.dark #cont #len #btn3:hover {
  background-color: #370037;
}
html body.dark #cont #len #btn3:active {
  transition: all 0s;
  background-color: #dbdbdb;
}
html body.dark #cont #len h1 {
  color: #f5e3fd;
}
html body.dark #cont #len #len_cont div {
  border: 3px solid #dbdbdb;
  border-bottom: 10px solid #dbdbdb;
  background-color: #190024;
}
html body.dark #cont #len #len_cont div b {
  color: #dbdbdb;
}
html body.dark #cont #len #len_cont div .tooltip-box {
  background-color: #190024;
  color: #dbdbdb;
  border: 2px solid #dbdbdb;
}
html body.dark #cont #tec h1 {
  color: #dfcce7;
}
html body.dark #cont #tec #tec_cont .cont .cont_cont div {
  background-color: #190024;
  border: 3px solid #dbdbdb;
  border-bottom: 10px solid #dbdbdb;
}
html body.dark #cont #tec #tec_cont .cont .cont_cont div span {
  background-color: #190024;
  color: #dbdbdb;
  border: 2px solid #dbdbdb;
}
html body.dark #cont #tec #tec_cont .cont .cont_cont div b {
  color: #dbdbdb;
}
html body.dark #cont #res #btn5 {
  background-color: #190024;
  color: #dbdbdb;
}
html body.dark #cont #res #btn5:hover {
  background-color: #370037;
}
html body.dark #cont #res #btn5:active {
  background-color: #dbdbdb;
}
html body.dark #cont #res #res_cont h1 {
  color: #dfcce7;
}
html body.dark #cont #con #btn6 {
  background-color: #190024;
  color: #dbdbdb;
}
html body.dark #cont #con #btn6:hover {
  background-color: #370037;
}
html body.dark #cont #con #btn6:active {
  transition: all 0s;
  background-color: #dbdbdb;
}
html body.dark #cont #con h1 {
  color: #dfcce7;
}
html body.dark #cont #con #con_cont ul li .tooltip-box {
  background-color: #190024;
  color: #dbdbdb;
  border: 2px solid #dbdbdb;
}
html body.dark #cont #con #con_cont ul li .button .button-bg-path {
  stroke: #fff;
}
html body.dark #cont #con #con_cont ul li .button:hover .button-label {
  color: #fff;
}
html body.dark #cont #con #con_cont ul li .button .button-label {
  background-color: #190024;
}

@media screen and (max-width: 850px) {
  html body {
    overflow: scroll;
  }
  html body #modal {
    margin-left: auto;
  }
  html body #cont section {
    width: 100vw;
  }
  html body #cont #in .woman {
    background-size: 65%;
    background-position: 110% 100%;
  }
  html body #cont #in #btn1 {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -2;
    font-size: 0;
    -webkit-animation: none;
            animation: none;
  }
  html body #cont #in.fullscreen {
    width: 100vw;
  }
  html body #cont #in.fullscreen .woman {
    background-size: 65%;
    background-position: 110% 100%;
  }
  html body #cont #pro #btn2 {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -2;
    font-size: 0;
    -webkit-animation: none;
            animation: none;
  }
  html body #cont #pro #pro_cont {
    height: 55%;
  }
  html body #cont #pro #pro_cont #pro_cont_cont div b {
    margin-top: 3%;
    font-size: 150%;
  }
  html body #cont #pro #pro_cont #pro_cont_cont div a {
    margin-top: 1%;
    font-size: 130%;
  }
  html body #cont #pro #pro_cont #pro_cont_cont div footer {
    margin-top: 1%;
    font-size: 120%;
  }
  html body #cont #len #btn3 {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -2;
    font-size: 0;
    -webkit-animation: none;
            animation: none;
  }
  html body #cont #len #len_cont {
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
  }
  html body #cont #len #len_cont div:hover .tooltip-box {
    margin-top: -45%;
  }
  html body #cont #tec .woman {
    background-size: 35%;
    background-position: 110% 25%;
  }
  html body #cont #tec #btn4 {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -2;
    font-size: 0;
    -webkit-animation: none;
            animation: none;
  }
  html body #cont #tec #tec_cont {
    height: 70%;
  }
  html body #cont #tec #tec_cont .cont {
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  html body #cont #tec #tec_cont .cont #cont_cont1 {
    width: 35%;
    grid-template-columns: repeat(2, 1fr);
  }
  html body #cont #tec #tec_cont .cont #cont_cont2 {
    width: 55%;
    grid-template-columns: repeat(3, 1fr);
  }
  html body #cont #tec #tec_cont .cont .cont_cont {
    display: grid;
  }
  html body #cont #tec #tec_cont .cont .cont_cont div {
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #300047;
    border: 3px solid #ffffff;
    border-bottom: 10px solid #ffffff;
    z-index: 2;
  }
  html body #cont #tec #tec_cont .cont .cont_cont div span {
    background-color: #300047;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 1%;
    border-radius: 10%;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
  }
  html body #cont #tec #tec_cont .cont .cont_cont div img {
    width: 100%;
  }
  html body #cont #tec #tec_cont .cont .cont_cont div b {
    color: #ffffff;
  }
  html body #cont #tec #tec_cont .cont .cont_cont div:hover span {
    margin-top: -20%;
    opacity: 100%;
  }
  html body #cont #res .woman {
    background-size: 40%;
    background-position: -15% 60%;
  }
  html body #cont #res #btn5 {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -2;
    font-size: 0;
    -webkit-animation: none;
            animation: none;
  }
  html body #cont #con {
    width: 100vw;
  }
  html body #cont #con .woman {
    background-size: 50%;
    background-position: 100% 100%;
  }
  html body #cont #con #btn6 {
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -2;
    font-size: 0;
    -webkit-animation: none;
            animation: none;
  }
  html body #cont #con #con_cont ul li:hover .tooltip-box {
    margin-top: -20%;
  }
}
@media screen and (max-width: 500px) {
  html body {
    overflow: scroll;
  }
  html body #cont #in .woman {
    background-size: 70%;
    background-position: 100% 90%;
  }
  html body #cont #pro {
    width: 100vw;
  }
  html body #cont #pro #btn2 {
    opacity: 0;
    z-index: -2;
  }
  html body #cont #pro #pro_cont {
    height: 70%;
  }
  html body #cont #pro #pro_cont h1 {
    font-size: 180%;
  }
  html body #cont #pro #pro_cont #pro_cont_cont {
    grid-template-columns: repeat(2, 1fr);
  }
  html body #cont #pro #pro_cont #pro_cont_cont div b {
    margin-top: 3%;
    font-size: 100%;
  }
  html body #cont #pro #pro_cont #pro_cont_cont div a {
    margin-top: 1%;
    font-size: 90%;
  }
  html body #cont #pro #pro_cont #pro_cont_cont div footer {
    margin-top: 1%;
    font-size: 80%;
  }
  html body #cont #len h1 {
    font-size: 180%;
  }
  html body #cont #len #len_cont {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
  }
  html body #cont #len #len_cont div:hover .tooltip-box {
    margin-top: -65%;
  }
  html body #cont #tec .woman {
    background-size: 0%;
  }
  html body #cont #tec h1 {
    font-size: 120%;
  }
  html body #cont #tec #tec_cont .cont #cont_cont1 {
    width: 65%;
    height: 70%;
  }
  html body #cont #tec #tec_cont .cont #cont_cont2 {
    width: 95%;
    height: 70%;
  }
  html body #cont #tec #tec_cont .cont .cont_cont div:hover span {
    margin-top: -45%;
  }
  html body #cont #res .woman {
    background-size: 0%;
  }
  html body #cont #res #res_cont h1 {
    font-size: 180%;
  }
  html body #cont #res #res_cont #res_cont_cont {
    width: 18rem;
    height: 15rem;
    background-image: url("../img/icons/monitor.webp");
  }
  html body #cont #res #res_cont #res_cont_cont #img1 {
    width: 0%;
    height: 0%;
    margin-left: 0%;
    border-radius: 0.5rem;
    overflow-y: scroll;
  }
  html body #cont #res #res_cont #res_cont_cont #img1 img {
    width: 100%;
  }
  html body #cont #res #res_cont #res_cont_cont #img2 {
    width: 83%;
    height: 50%;
    margin-top: -3%;
    border-radius: 0.5rem;
    overflow-y: scroll;
  }
  html body #cont #res #res_cont #res_cont_cont #img2 img {
    width: 100%;
  }
  html body #cont #con .woman {
    background-size: 45%;
    background-position: 100% 100%;
  }
  html body #cont #con h1 {
    font-size: 180%;
  }
  html body #cont #con #con_cont {
    width: 100%;
    height: 70%;
  }
  html body #cont #con #con_cont ul {
    width: 35rem;
    flex-direction: column;
  }
  html body #cont #con #con_cont ul li {
    margin: 1%;
  }
  html body #cont #con #con_cont ul li:hover .tooltip-box {
    margin-top: -40%;
  }
}/*# sourceMappingURL=index.css.map */