@import "variables";
@mixin md() {
    @media (min-width: 610px) {
        @content;
    }
}
@mixin lg() {
    @media (min-width: 1191px) {
        @content;
    }
}

html {
	--color-white: #ffffff;
	--color-black: #191919;
	--color-bg: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
	--color-a: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
	box-sizing: border-box;
}
.c-cursor {
	--size: 20px;
	position: fixed;
	width: var(--size);
	height: var(--size);
	top: calc(var(--size)/-2);
	left: calc(var(--size)/-2);
	transform: translate(var(--cursor-x, -100px), var(--cursor-y, -100px)) translateZ(0);
	pointer-events: none;
	transition: none;
	z-index: 15000;
	will-change: transform;
	.is-debug &{
		transition: all 0.2s ease-in-out;
	}
	&__inner{
		display: block;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-image: var(--color-bg);
		border: 1px solid var(--color-white);
		transition: all 0.15s ease-in-out;
		opacity: 1;
		transform: scale(1) translateZ(0);
	}
	&.is-clicked &__inner {
		opacity: 0.5;
	}
	&.is-hidden &__inner{
		opacity: 0;
	}
	&.is-link-hovered &__inner {
		transform: scale(0.75) translateZ(0);
		background-image: var(--color-a);
	}
}

.has-custom-cursor{
	&,
	*{
		cursor: none!important;
	}
}

