    header {
        width: 30vw;
        height: 100vh;
        background-color: $Secundario;
        font-family: 'Rubik Spray Paint', cursive;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100;
        ul {
            width: 70%;
            height: 70%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45%;
                img {
                    width: 100%;
                    animation: logo_palpitar 3.5s ease-in-out infinite, logo 1.5s 1;
                    animation-delay: 2s;
                }
            }
            nav {
                height: 80%;
                padding: 5%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    list-style: none;
                    a {
                        font-size: 150%;
                        color: $Blanco;
                        text-decoration: none;
                        transition: all 0.2s;
                    }
                }
                li:hover {
                    a {
                        font-size: 180%;
                    }
                }
            }
        }
    }
@media screen and (max-width: 500px) {
    header {
        background-color: rgba(0, 0, 0, 0);
        width: 100vw;
        height: 8vh;
        margin: 0;
        padding: 0;
        position: fixed;
        transition: all 0.5s;
        z-index: 100;
        ul {
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            flex-direction: row;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20%;
                img {
                    width: 85%;
                }
            }
            nav {
                width: 100%;
                display: flex;
                padding: 1%;
                flex-direction: row;
                justify-content: space-evenly;
                li {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    list-style: none;
                    a {
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        color: $Blanco;
                        font-size: 60%;
                    }
                }
                li:hover {
                    a {
                        font-size: 65%;
                    }
                }
            }
        }
    }
    header.abajo {
        background-color: $Secundario;
    }
}
//@media screen and (max-height: 640px)