/*Colores*/
$Rosat: #ffc3c3dc;
$Rosaf: #ffc3c3;
$Rosa: #ffdcdc;
$Blanco: #ffffff;
$Negro: #0d0d0d;
$Gris: #bebebe;
$Dorado: #D4AF37;
$Rojot: #861720aa;
$Rojo: #861720;
$Amarillo: #f4d62a;
$Amarillo2: #f8d15f;
$Transparente: rgba(255, 255, 255, 0);

$Primario: $Rosa;
$Secundario: $Rosaf;

/*Tipos de letra*/
$Nunito:  'Nunito Sans', sans-serif;
$Fredoka: 'Fredoka One', cursive;

$Letra: $Nunito;

/*Fondos*/
$Fondo: url(../temas/enero/fondo.png);