/*Colores*/
$Rosat: #ffc3c3dc;
$Rosaf: #ffc3c3;
$Rosa: #ffdcdc;
$Blanco: #ffffff;
$Negro: #0d0d0d;
$Gris: #bebebe;
$Dorado: #D4AF37;
$Rojot: #861720aa;
$Rojo: #861720;
$Amarillo: #f4d62a;
$Amarillo2: #f8d15f;
$Transparente: rgba(255, 255, 255, 0);
$Morado: #660066;
$Morado2: #300047;
$Morado3: #190024;
//Default
$Primario: linear-gradient(to top, #c6aeff 0%, #fbc2eb 100%);
$Secundario: $Morado2;
$h1: #f5e3fd;
//Darkmode
$PrimarioDark: linear-gradient(to top, #4d3c74 0%, #744e69 100%);
$SecundarioDark: $Morado3;
$h1Dark: #dfcce7;
$BlancoDark: #dbdbdb;
$NegroDark: #efefef;
$MoradoDark: #370037;

/*Tipos de letra*/
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Modak&family=Monoton&family=Nosifer&family=Press+Start+2P&family=Rubik+Beastly&family=Rubik+Spray+Paint&family=Rubik+Wet+Paint&family=Ruslan+Display&display=swap');

//$Letra:;
//$Letra2:;